<br />

<div class="booyha-box col-xs-10 col-xs-offset-1">
	<h1>Privacy Policy</h1>

	<p>
		Snitches get stitches... i.e. we don't say or give nothing away!
	</p>
	<br />
	<%= image_tag 'snitches.jpg', :class => 'img-responsive' %> 
</div>